[submodule "repos/kdb-tick"]
	path = repos/kdb-tick
	url = https://github.com/KxSystems/kdb-tick.git
[submodule "other_repos/kdb-tick"]
	path = other_repos/kdb-tick
	url = https://github.com/KxSystems/kdb-tick.git
